* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body, #root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: #1958eb;
  color: #e5e7eb;
  height: 70vh;
}

.app-container {
  height: 90px;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-box {
  width: 420px;
  height: 500px;
  background: #020617;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
}


.chat-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding-right: 4px;
}

.message {
  max-width: 80%;
  padding: 10px 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  line-height: 1.4;
}

.message.user {
  background: #2563eb;
  align-self: flex-end;
}

.message.ai {
  background: #1e293b;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.chat-input button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: #22c55e;
  color: #020617;
  font-weight: bold;
}
